*{
    margin: 0;
    padding: 0;
}
header{
   
    height: 70px;
    
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: black;
    color: white;
    
}
.exam{
    height: 70px;
    width: 100%;
}
.logo>Link{
    text-decoration: none; /* Remove the underline */
  color: red;
}
.container-fluid{
    margin: 0;
    padding: 0;
}
.container-fluid>.mobile-option{
    margin-left: 5px;
    margin-right: 10px;
}
.nav-options{
    flex-grow: 1;
    
    
}
.nav-options>ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 0;
    display: flex;
}
.nav-options>ul>li{
    display: inline-block;
    margin-right: 40px;
   
}
.nav-options>ul>li>a{
    text-decoration: none; /* Remove the underline */
  color: rgb(255, 255, 255); /* Inherit the color from the parent element */
}
.genre{
    position: absolute;
    top:70px;
    background-color: black;
    width: 130px;
    height: 200px;
    left: 170px;
    z-index: 100;
}
.genre>ul{
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 10px;
    padding: 0;
    display: inline-block;
}
.genre>ul>li{
    display: inline-block;
    padding: 8px;
    margin: 3px;
    border: 4px solid transparent;
    border-image: linear-gradient(#00C853,#B2FF59)1;
    border-top: 0;
    border-left:0 ;
    border-right:0 ;
    border-radius: 50px;


}





.nav-container{
    display: flex;
    height: 70px;
    
}
.logo-text{
    font-size: larger;

}
span{
    margin-left: 5px;
}
.button{
    margin-left:5px ;
}
@media (width<=729px)
{
    .span{
        display: none;
    }
    .logo{
        flex-grow: 1;
        color: red;

    }
    .nav-options{
        position: absolute;
        top:70px;
        background-color: black;
        width: 266px;
        height: 400px;
        left: 0;
        z-index: 1000;
        display: block;
    }
    .nav-options>ul{
        display: block;
    }
    .nav-options>ul>li{
       
        display: block;
        width: 100%;
        height: 50px;
        padding: 10px;
    }
    .genre{
        position: fixed;
        top:65px;
        background-color: black;
        width: 135px;
        height: 220px;
        left: 100px;
        z-index: 100;
        border: 4px solid transparent;
        border-image: linear-gradient(#c80000,#ffa459)1;
        border-top:0 ;
        border-bottom:0 ;
        border-right:0 ;
    }
}
@media  (width>729px)
{
    .mobile-option{
        display: none;
    }
}  
    
